docker pull mirrorgooglecontainers/kube-apiserver:{{ k8s_version.kube }}
docker pull mirrorgooglecontainers/kube-controller-manager:{{ k8s_version.kube }}
docker pull mirrorgooglecontainers/kube-scheduler:{{ k8s_version.kube }}
docker pull mirrorgooglecontainers/kube-proxy:{{ k8s_version.kube }}
docker pull mirrorgooglecontainers/pause:{{ k8s_version.pause }}
docker pull mirrorgooglecontainers/etcd:{{ k8s_version.etcd }}
docker pull coredns/coredns:{{ k8s_version.coredns }}
docker pull registry.cn-shenzhen.aliyuncs.com/cp_m/flannel:{{ k8s_version.flannel_amd64 }}

docker tag mirrorgooglecontainers/kube-proxy:{{ k8s_version.kube }}  k8s.gcr.io/kube-proxy:{{ k8s_version.kube }}
docker tag mirrorgooglecontainers/kube-scheduler:{{ k8s_version.kube }} k8s.gcr.io/kube-scheduler:{{ k8s_version.kube }}
docker tag mirrorgooglecontainers/kube-apiserver:{{ k8s_version.kube }} k8s.gcr.io/kube-apiserver:{{ k8s_version.kube }}
docker tag mirrorgooglecontainers/kube-controller-manager:{{ k8s_version.kube }} k8s.gcr.io/kube-controller-manager:{{ k8s_version.kube }}
docker tag mirrorgooglecontainers/etcd:{{ k8s_version.etcd }}  k8s.gcr.io/etcd:{{ k8s_version.etcd }}
docker tag coredns/coredns:{{ k8s_version.coredns }} k8s.gcr.io/coredns:{{ k8s_version.coredns }}
docker tag mirrorgooglecontainers/pause:{{ k8s_version.pause }}  k8s.gcr.io/pause:{{ k8s_version.pause }}
docker tag registry.cn-shenzhen.aliyuncs.com/cp_m/flannel:{{ k8s_version.flannel_amd64 }} quay.io/coreos/flannel:{{ k8s_version.flannel_amd64 }}

# docker rmi mirrorgooglecontainers/kube-apiserver:{{ k8s_version.kube }}
# docker rmi mirrorgooglecontainers/kube-controller-manager:{{ k8s_version.kube }}
# docker rmi mirrorgooglecontainers/kube-scheduler:{{ k8s_version.kube }}
# docker rmi mirrorgooglecontainers/kube-proxy:{{ k8s_version.kube }}
# docker rmi mirrorgooglecontainers/pause:{{ k8s_version.pause }}
# docker rmi mirrorgooglecontainers/etcd:{{ k8s_version.etcd }}
# docker rmi coredns/coredns:{{ k8s_version.coredns }}
# docker rmi registry.cn-shenzhen.aliyuncs.com/cp_m/flannel:{{ k8s_version.flannel_amd64 }} 
